/**
* @name Better theme
* @description Theme created by Ashton
* @author Ashton
*/

.colorStandard-2KCXvj.size14-e6ZScH.h1-1qdNzo.title-3sZWYQ.defaultColor-1_ajX0.defaultMarginh1-peT3GC {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-2RyJ0Y {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overflow-WK9Ogt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name-23GUGE.overflow-WK9Ogt {
    font-family: Arial, Helvetica, sans-serif;
}

.colorStandard-2KCXvj.size14-e6ZScH.h5-18_1nd.title-3sZWYQ.defaultMarginh5-2mL-bP {
    font-family: Arial, Helvetica, sans-serif;
}

.header-2RyJ0Y {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.username-2b1r56 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.discriminator-2C3qJO {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.colorStandard-2KCXvj.size14-e6ZScH.h5-18_1nd.title-3sZWYQ.fieldTitle-3h2iLW {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.username-2b1r56.headerTagUsernameNoNickname-2-Y5Ct.headerTagUsernameBase-1NqrY5 {
    font-family: Tahoma;
}

.headerTagDiscriminatorNoNickname-D-AYUN.discrimBase-24vY8o {
    font-family: Tahoma;
}

.headerTagUsernameNoNickname-2-Y5Ct {
    color: #ffffff;
}

.discrimBase-24vY8o {
    color: #ffffff;
}

.aboutMeTitle-1IYtPE.base-1x0h_U.size12-3cLvbJ.muted-3-7c5L.uppercase-3VWUQ9 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bodyTitle-1ySSKn.base-1x0h_U.size12-3cLvbJ.muted-3-7c5L.uppercase-3VWUQ9 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.membersGroup-v9BXpm.container-2ax-kl {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-29uC1r.base-1x0h_U.size16-1P40sf {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-3uLluP.base-1x0h_U.size32-o_H79z {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper-1sSZUt.base-1x0h_U.size20-17Iy80 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-3aDrFs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerCellContent-1pLtOr {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-2SF4Nh.base-1x0h_U.size20-17Iy80 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.discriminator-1swucG {
    color: white;
}

.userInfoSectionHeader-3TYk6R.base-1x0h_U.size12-3cLvbJ.uppercase-3VWUQ9 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.overflow-WK9Ogt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.cursorPointer-1j7DL8.title-29uC1r.base-1x0h_U.size16-1P40sf {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.nicknames-1XK4Zt.overflow-WK9Ogt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    color: rgba(255, 255, 255, 0.795);
}

.username-2b1r56.headerTagUsernameBase-1NqrY5 {
    color: white;
}
